
body{
    background-color: rgb(243, 224, 236);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
#header{
    padding: 30px;
}
#main-content{
    display: flex;
    min-height: 400px;
    max-height: 600px;
}
#content{
    flex-basis: 40%;
    display: grid;
    grid-template-rows:100px 100px 100px 100px 100px 100px ;
    grid-template-columns: 40px; 
    background-color: rgb(210, 203, 203);
    


}
#anhchuaicon{
    position: relative;
}
.photoicon{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.photoicon h1{
    font-size: 24px;
    color: rgb(230, 148, 214);
    margin-bottom: 10px;
}
.photoicon i{
    font-size: 32px;
    color: #FFF;
}

#content .icon1{
    padding-left: 35px;
}

#content .icon{
    display: flex;
    justify-content: center;
    align-items: center;

}
     

 iframe{
    flex-basis: 60%;
    overflow: scroll;
    margin: 0 auto;
    margin-left: 0;
    padding-left: 15px;
    margin-top: 40px;
    margin-bottom: 15px;

 }
#sidebar{
    flex-basis: 60%;
    overflow: scroll;
    margin: 0 auto;
    padding-left: 25px;
    margin-top: 40px;
    margin-bottom: 15px;

}

.noidungchinh{
    display: grid;
    grid-template-columns: 350px 350px;

}

#footer{
    padding: 20px;
}

.tieudenho{
    color: rgb(24, 102, 150);
}


.gioithieu h1 {
text-align: center;
}
.gioithieu h2{
    color: blueviolet;
}

#Giatien{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
#giatien{
    height: 200px;
    padding: 10px;
    flex-grow: 1;
}
#suthat{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.SUTHAT{
    height: 200px;
    padding: 10px;
    flex-grow: 1;
}

.abc{
    cursor: inherit;
}


