body {
    background-color: #080000;
    font-family: Roboto, sans-serif;
}

p {
    color: white;
}

.main {
    width: 1000px;
    height: 500px;
    margin: 50px auto;
    display: grid;
    grid-template: 1fr/50px 4fr 5fr;
    box-shadow: 0 0 1.5px #838080;
    background: #1d1e20;
}

.image-box {
    position: relative;
}

.image-box .image-box-avatar {
    width: 100%;
    height: 110%;
    position: absolute;
    top: -5%;
    left: 0;
    background-image: url("img/banner2.jpg");
    background-size: cover;
    box-shadow: 0 0 2px #404040;
}

.menu {
    display: grid;
    grid-template: 1fr 8fr 1fr/1fr;
}

.menu .menu-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #914496;
    background-color: #191a1c;
}

.menu .menu-icons div {
    width: 40px;
    height: 40px;
    text-align: center;
}

.menu .menu-icontop {
    text-align: center;
    background-color: #a04aa8;
    padding-top: 15px;
}

.menu .menu-iconbottom {
    background-color: #161b1e;
    text-align: center;
    padding-top: 15px;
}

.image-box .image-box-avatar .image-box-avatar-infomations {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    justify-items: center;
    padding: 15px;
    color: white;
}

.image-box .image-box-avatar .image-box-avatar-infomations .image-box-avatar-infomations-2 {
    display: grid;
    grid-template: 1fr/30px 30px 30px 30px;
    justify-items: center;
}

.infomations {
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr;
    overflow: auto;
    background: #1d1e20;
    padding: 0px 5px 0px 35px;
    margin: 40px 0px;
}

.infomations::-webkit-scrollbar-thumb {
    background: #2b2b2b;
    border-radius: 10px;
}

.infomations::-webkit-scrollbar {
    width: 5px;
}

.infomations .infomations-aboutMe {
    display: grid;
    gap: 20px;
    border-bottom: 1px solid #838080;
    padding-bottom: 50px;
}

.infomations .infomations-myServices {
    display: grid;
    grid-template: 70px 1fr/1fr;
    padding-top: 50px;
}

.infomations .infomations-myServices div i {
    color: #914496;
}

.infomations-myServices-cards {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    gap: 30px 0;
}

.infomations-myServices-cards .infomations-myServices-card {
    display: grid;
}

.infomations-myServices-cards .infomations-myServices-card div i {}

.tieude {
    font-size: 70px;
    font-weight: 900;
    color: #fdfdfd;
}

.dat123 {
    line-height: 26px;
    color: #888888;
    font-size: 15px;
    font-weight: 400;
}

.dat1234 {
    font-size: 36px;
    line-height: 43px;
    font-weight: 900;
    color: #fdfdfd;
}

.dat12345 {
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: #fdfdfd;
    margin: 10px 0px 7.5px;
}

.icon123 {
    font-size: 30px;
    line-height: 30px;
    color: #c97aff;
    font-weight: 100;
}

.ngaysinh {
    color: #c97aff;
    font-size: 18px;
    line-height: 30px;
    font-style: italic;
    font-weight: 500;
}
