
body{
    background-color: rgb(243, 224, 236);
    
}

#wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
#header{
    padding: 30px;
}
#main-content{
    display: flex;
    min-height: 400px;
    max-height: 600px;
}
#content{
    flex-basis: 40%;
    display: grid;
    grid-template-rows:100px 100px 100px 100px 100px 100px ;
    grid-template-columns: 40px; 
    background-color: rgb(210, 203, 203);
    


}
#content .icon1{
    padding-left: 35px;

}
#content .icon{
    display: flex;
    justify-content: center;
    align-items: center;

}
     
/* .icon1{
    grid-column: 2 / 7;
}
     
/* .icon1{
    grid-column: 2 / 7;
}
     
/* .icon1{
    grid-column: 2 / 7;
}
     
/* .icon1{
    grid-column: 2 / 7;
}
     
/* .icon1{
    grid-column: 2 / 7;
    
}
.icon2{
    grid-row: 2 / 3;
    padding-left: 7px;
}
.icon3{
    grid-row: 3 / 4;
    padding-left: 7px;
}
.icon4{
    grid-row: 4 / 5;
    padding-left: 7px;
}
.icon5{
    grid-row: 5 / 6;
    padding-left: 7px;
}
.icon6{
    grid-row: 6 / 7;
    padding-left: 7px;
}
 */
#sidebar{
    flex-basis: 60%;
    overflow: scroll;
    margin: 0 auto;
    padding-left: 25px;
    margin-top: 40px;
    margin-bottom: 15px;

}

.noidungchinh{
    display: grid;
    grid-template-columns: 350px 350px;

}

#footer{
    padding: 20px;
}

.tieudenho{
    color: rgb(24, 102, 150);
}


.gioithieu h1 {
text-align: center;
}
.gioithieu h2{
    color: blueviolet;
}

#Giatien{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
#giatien{
    height: 200px;
    padding: 10px;
    flex-grow: 1;
}

#giatien1{

}
#giatien2{

}
#giatien3{

}
.abc{
    cursor: inherit;
}
